////
/// Checkbox
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

////
/// Switch Checkbox
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.checkbox {
   position: relative;
   display: inline-block;
   width: $g3;
   height: $g3;
   cursor: pointer;

   input {
      width: 0;
      height: 0;
      opacity: 0;

      &:checked + .checkbox__inner {
         background-color: $color-asphalt-medium;

         &:before {
            background-color: $color-asphalt-medium;
         }
      }
   }

   .checkbox__inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-silver-light;
      border-radius: $g0-75;
      transition: 0.3s;
      margin: 0 !important;

      &:before {
         position: absolute;
         content: '';
         height: $g2-05;
         width: $g2-05;
         left: $g0-25;
         top: $g0-25;
         background-color: white;
         border-radius: $g0-5;
         transition: 0.3s;
      }
   }
}
