////
/// Headers
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

h1 {
   font-size: 28px;
   font-weight: 600;

   &.unique {
      font-weight: 200;
      color: $color-asphalt-medium;
   }
}

h2 {
   font-size: 23px;
   font-weight: 600;
}

h3 {
   font-size: 19px;
   font-weight: 600;
}

main {
   h1 {
      margin: 0 0 $g6 0;
      font-size: 28px;
      font-weight: 600;
   }

   h2 {
      margin: 0 0 $g3 0;
      font-size: 23px;
      font-weight: 600;
   }

   h3 {
      margin: 0 0 $g2 0;
      font-size: 19px;
      font-weight: 600;
   }
}
