////
/// Labels
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.label {
   border-radius: 10px;
   height: 20px;
   line-height: 19px;
   text-align: center;
   background-color: $color-indigo-ultra-light;
   color: #000;
   font-size: 11px;
   font-weight: 600;
   padding: 0 $g1;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

$label-colors: (
   (blue, $color-indigo-medium, $color-indigo-ultra-light),
   (yellow, $color-sun-medium, $color-sun-ultra-light),
   (red, $color-alizarin-medium, $color-alizarin-ultra-light),
   (silver, $color-silver-medium, $color-silver-ultra-light),
   (green, $color-turquoise-medium, $color-turquoise-ultra-light),
   (gray, $color-asphalt-medium, $color-asphalt-ultra-light)
);

@each $name, $medium, $ultra-light in $label-colors {
   .label_#{$name} {
      background-color: $ultra-light;
      color: $medium;
   }
}
