////
/// Authorization layout
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.authorization {
   background-color: white;
   display: flex;
   height: 100vh;

   @include media-breakpoint-down(md) {
      height: 80vh;
   }

   &__main {
      flex: 4 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__logotype {
      flex: 8 0 0;
      background: url('/static/images/pexels-1.jpg') $color-asphalt-dark -100px 0;
      background-size: auto 120%;

      @include media-breakpoint-down(md) {
         display: none;
      }
   }
}
