////
/// Common layout
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.layout_common {
   display: flex;
   padding-left: 80px;

   background: url('/static/images/theme_iterations/logo_white_light.svg') -250px 0 fixed;
   background-size: 300px;

   main {
      background-color: white;
      flex: 1 1 0;

      & > .container-fluid {
         padding: $grid-gutter-width;
         margin-left: 0;
         max-width: 1200px;

         // FIXME Sometimes useless
         & > :first-child {
            margin-top: 0;
         }

         & > :last-child {
            margin-bottom: 0;
         }
      }
   }

   @include media-breakpoint-down(md) {
      padding-left: 0;
      display: block;
   }
}
