////
/// Page Header
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.page-header {
   padding: $grid-gutter-width / 2 $grid-gutter-width / 2 0;
   border-bottom: 1px solid $line-separator;
   width: 100%;

   &_without-tab-bar {
      padding-bottom: $grid-gutter-width / 2;
   }

   h1 {
      margin: 0;
      padding: 0;

      font: {
         size: 40px;
         weight: 200;
      }
   }
}

.verified-mark {
   margin: 0 $g0-5;
   display: inline-block;
   background: $color-turquoise-medium;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   color: white;
   position: relative;
   vertical-align: top;

   svg {
      width: $g1-05 !important;
      height: $g1-05;
      position: absolute;
      top: $g0-5;
      left: $g0-5;
   }
}
