////
/// NavBar
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.info-bar {
   width: 280px;
   flex: 0 0 280px;
   margin-left: 80px;
   min-height: 100vh;

   border-right: 1px solid $line-separator;
   background: url('/static/images/theme_iterations/logo_white_light.svg') -100px 0;
   background-attachment: fixed;
   //background-size: cover;
}

@include media-breakpoint-down(md) {
   .info-bar {
      margin-left: 0;
   }
}
@include media-breakpoint-down(sm) {
   .info-bar {
      display: none;
   }
}
