////
/// NavBar
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.nav-bar {
   $size: 80px;

   top: 0;
   left: 0;
   z-index: 5000;
   position: fixed;
   width: $size;
   height: 100vh;
   background: $color-asphalt-medium;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
         width: $size;
         height: $size;
         overflow: hidden;

         &:not(.nav-bar__logotype):hover {
            background: $color-asphalt-light;
         }

         a {
            text-decoration: none;
            width: $size;
            height: $size;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            svg {
               width: $size / 4 !important;
               height: $size / 4 !important;
            }

            span {
               color: white;
               display: none;
            }
         }
      }

      &.nav-bar__small {
         display: flex;

         li,
         li a {
            width: $size / 2;
            height: $size/ 2;
         }
      }
   }
}

.nav-bar__logotype {
   display: flex;
   align-items: flex-end;

   img {
      max-width: $g6;
      max-height: $g6;
      margin: $g1 auto;
   }
}

@include media-breakpoint-down(md) {
   .nav-bar {
      $size: 80px;
      width: 100%;
      display: none;
      background-color: rgba(255, 255, 255, 0.95);

      ul li {
         height: $size / 2;
         width: 100%;

         a {
            height: $size / 2;
            width: 100%;

            justify-content: flex-start;
            color: $color-asphalt-dark;

            svg {
               margin: 0 $g3;
            }
            span {
               display: block;
            }

            svg,
            span {
               color: $color-asphalt-dark !important;
            }
         }

         justify-content: flex-start;

         &:hover {
            svg,
            span {
               color: white !important;
            }
         }
      }
   }

   .nav-bar__group_bottom {
      display: none;
   }

   .nav-bar_mobile-show {
      display: block;
   }
}
