////
/// NavBar Group
/// @author Sergey Dunaevskiy (dunaevskiy) <sergey@dunaevskiy.eu>
////

.infoBarGroup {
   &:not(:last-child) {
      padding-bottom: $g5;
   }

   &__title {
      padding: 0 0 $g2 0;
      text-transform: uppercase;
      font: {
         weight: bold;
      }
   }

   &__items {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
         height: $g5;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }
}
